$color-blue: #1c64f2;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap");

html body {
  background-color: #f9fafb;
  color: #111928;
  font-family: "Inter", sans-serif;
  .btn-primary {
    background-color: $color-blue;
  }
}
.wrapper .sidebar-dashboard {
  width: 400px;
  height: 100vh;
  // position: fixed;
  width: 400px;
  overflow: hidden;
  flex: 0 0 400px;

  .accordion-button::after {
    top: 7px;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNyA3TDEzIDEiIHN0cm9rZT0iIzExMTkyOCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNyA3TDEzIDEiIHN0cm9rZT0iIzExMTkyOCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
    top: -2px;
    position: relative;
  }
  .custom-scroll {
    position: fixed;
    overflow-x: hidden;
    height: 100%;
    width: 399px;
    top: 0;
    background-color: #fff;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }
}
.dashboard-wrapper {
  width: 970px;
  @media (min-width: 1550px) {
    margin: 0 auto;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
  }
}
.badge-pink {
  background: #ea4c89;
  border-radius: 10px;
  padding: 2px 10px;
  color: #fff;
  font-size: 12px;
}
.flex-auto {
  flex: auto;
}
.header-top {
  padding: 26px 30px;
}
.top-section {
  padding-top: 21px;
  padding-bottom: 21px;
}
.text-light-1 {
  color: #52525b;
  font-weight: 600;
  font-size: 14px;
}
.color-dark {
  color: #000 !important;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.font-sm {
  font-size: 12px;
}
.outline-report {
  color: #1c64f2;
  font-weight: 600;
  border: solid 1px #1c64f2;
  display: inline-block;
  padding: 9px 13px;
  border-radius: 12px;
  float: right;
}
.wrapper {
  .sidebar {
    overflow: auto;
    border-right: solid 1px #e5e5e5;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: transparent;
    border-left: solid 3px $color-blue;
    &:hover svg {
      filter: invert(41%) sepia(79%) saturate(6668%) hue-rotate(217deg)
        brightness(99%) contrast(91%);
    }
  }
  .nav-pills .nav-link.active svg {
    filter: invert(41%) sepia(79%) saturate(6668%) hue-rotate(217deg)
      brightness(99%) contrast(91%);
  }
}
.r-content {
  margin-left: 60px;
}
.font-18 {
  font-size: 18px;
}
.font-24 {
  font-size: 24px;
}
.cursor-pointer {
  cursor: pointer;
}
.h-200 {
  height: 200px;
}
.search {
  background: #f9fafb;
  padding: 13px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  margin-left: 100px;
  width: 100%;
  flex: 0 0 400px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  border: solid 1px #d1d5db;
  border-radius: 12px;
  font-weight: 600;
}
.btn-r {
  border-radius: 12px;
  font-weight: 600;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.custom-tabs {
  .nav.nav-tabs {
    padding: 0;
  }
  .nav-tabs .nav-link {
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0;
    margin: 0 20px;
    padding-bottom: 17px;
    color: #6b7280;
    border: none;
    border-bottom: solid 3px transparent;
    &.active {
      color: $color-blue;
      border-bottom: solid 3px $color-blue;
    }
  }
}
.table-responsive .custom-table {
  &.modal-table {
    tr td {
      padding: 15px;
      vertical-align: middle;
    }
  }
}
.h-200 {
  height: 200px;
}
.custom-table {
  .clickable-row {
    cursor: pointer;
  }

  a {
    color: #212529;
    text-decoration: none;
  }
  th {
    background-color: #f3f4f6;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
  }
  tr:first-child th,
  tr:last-child td {
    border: none;
  }
  tr {
    background-color: #fff;
    &.fw-500 {
      td {
        font-weight: 500;
        color: #111928;
      }
    }
    img {
      cursor: pointer;
    }
    img.pf {
      flex: 0 0 40px;
      height: 40px;
      border-radius: 50%;
    }
    td {
      padding: 15px;
      font-weight: 600;
      vertical-align: middle;
    }
  }
}
.mw-724 {
  max-width: 724px;
}
.custom-modal {
  .modal-content {
    padding: 30px;
  }
}
.form-group {
  margin-bottom: 16px;
  label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  input,
  select {
    background: #f9fafb;
    /* cool-gray/200 */

    border: 1px solid #e5e7eb;
    border-radius: 16px;
  }
}
.color-dark {
  color: #111928;
}
.mw-lg {
  max-width: 1040px;
}
.table-responsive {
  .custom-table {
    tr td {
      padding: 0;
    }
    tr {
      background-color: transparent;
    }
  }
}

.border-radius {
  border-radius: 10px;
}

.select-qs {
  .border-radius.d-flex.cursor-pointer {
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
.badge {
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}
.badge-danger {
  background-color: #e02424;
}

.badge-green {
  background-color: #0e9f6e;
}
.mw-1200 {
  max-width: 1200px;
}
.settings-tab {
  li .nav-link {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-bottom: 10px;
    &.active {
      background-color: #ebf5ff;
      border: 1px solid #1c64f2;
      .box {
        background-color: #1c64f2;
        border-color: #1c64f2;
        svg path {
          fill: #fff;
        }
      }
    }
    h2 {
      color: #111928;
      font-size: 14px;
      margin: 0;
    }
    p {
      color: #6b7280;
      font-size: 12px;
    }
  }
  .box {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    svg path {
      fill: #111928;
    }
  }
}
.custom-accordion {
  .accordion-item {
    margin: 20px 0;
    background: #ffffff;
    /* shadow */
    border: 1px solid #e5e7eb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
  }
  .accordion-button {
    font-weight: 500;
  }
  .accordion-header {
    overflow: hidden;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: #111928;
  }
  .accordion-button::after {
    transform: rotate(180deg);

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgOC44MTM0OEw4IDEuODEzNDhMMTUgOC44MTM0OCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
  }
  .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
  }
}
.pf-card {
  img {
    width: 120px;
    height: 120px;
  }
}
.profile-wrapper {
  .form-check-input:checked {
    background-color: $color-blue;
    border-color: $color-blue;
  }
}
.fs-15 {
  font-size: 15px;
}
.fw-600 {
  font-weight: 600;
}
.text-sm {
  font-size: 12px;
  color: #384670;
}
.font-20 {
  font-size: 20px;
}
.font-14 {
  font-size: 14px;
}
.color-blue {
  color: #3f83f8;
}
.color-dark {
  color: #111928;
}
.color-grey {
  color: #6b7280;
}
.n-journey {
  .fw-m {
    font-weight: 500;
  }
  .accordion-button.collapsed {
    p {
      color: #6b7280;
    }
    h3 {
      color: #212529;
    }
  }
  .accordion-button {
    h3 {
      color: $color-blue;
    }
    p {
      color: $color-blue;
    }
  }
}
