body {
  background-color: #f9fafb;
  color: #111928;
}
body .btn-primary {
  background-color: #1c64f2;
}

.wrapper .sidebar {
  overflow: auto;
  border-right: solid 1px #e5e5e5;
}
.wrapper .nav-pills .nav-link.active,
.wrapper .nav-pills .show > .nav-link {
  background-color: transparent;
  border-left: solid 3px #1c64f2;
}
.wrapper .nav-pills .nav-link.active:hover svg,
.wrapper .nav-pills .show > .nav-link:hover svg {
  filter: invert(41%) sepia(79%) saturate(6668%) hue-rotate(217deg) brightness(99%) contrast(91%);
}
.wrapper .nav-pills .nav-link.active svg {
  filter: invert(41%) sepia(79%) saturate(6668%) hue-rotate(217deg) brightness(99%) contrast(91%);
}

.r-content {
  margin-left: 60px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.cursor-pointer {
  cursor: pointer;
}

.h-200 {
  height: 200px;
}

.search {
  background: #f9fafb;
  padding: 13px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  margin-left: 100px;
  width: 100%;
  flex: 0 0 400px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  border: solid 1px #d1d5db;
  border-radius: 12px;
  font-weight: 600;
}

.btn-r {
  border-radius: 12px;
  font-weight: 600;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.custom-tabs .nav.nav-tabs {
  padding: 0;
}
.custom-tabs .nav-tabs .nav-link {
  font-weight: 600;
  font-size: 14px;
  padding: 20px 0;
  margin: 0 20px;
  padding-bottom: 17px;
  color: #6b7280;
  border: none;
  border-bottom: solid 3px transparent;
}
.custom-tabs .nav-tabs .nav-link.active {
  color: #1c64f2;
  border-bottom: solid 3px #1c64f2;
}

.table-responsive .custom-table.modal-table tr td {
  padding: 15px;
  vertical-align: middle;
}

.h-200 {
  height: 200px;
}

.custom-table .clickable-row {
  cursor: pointer;
}
.custom-table a {
  color: #212529;
  text-decoration: none;
}
.custom-table th {
  background-color: #f3f4f6;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
}
.custom-table tr:first-child th,
.custom-table tr:last-child td {
  border: none;
}
.custom-table tr {
  background-color: #fff;
}
.custom-table tr img {
  cursor: pointer;
}
.custom-table tr img.pf {
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
}
.custom-table tr td {
  padding: 15px;
  font-weight: 600;
  vertical-align: middle;
}

.mw-724 {
  max-width: 724px;
}

.custom-modal .modal-content {
  padding: 30px;
}

.form-group {
  margin-bottom: 16px;
}
.form-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  background: #f9fafb;
  /* cool-gray/200 */
  border: 1px solid #e5e7eb;
  border-radius: 16px;
}

.color-dark {
  color: #111928;
}

.mw-lg {
  max-width: 1040px;
}

.table-responsive .custom-table tr td {
  padding: 0;
}
.table-responsive .custom-table tr {
  background-color: transparent;
}

.border-radius {
  border-radius: 10px;
}

.select-qs .border-radius.d-flex.cursor-pointer:hover {
  background-color: #f5f5f5;
}

.badge {
  border-radius: 10px;
  padding: 6px 10px;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}

.badge-danger {
  background-color: #e02424;
}

.badge-green {
  background-color: #0e9f6e;
}

.mw-1200 {
  max-width: 1200px;
}

.settings-tab li .nav-link {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 10px;
}
.settings-tab li .nav-link.active {
  background-color: #ebf5ff;
  border: 1px solid #1c64f2;
}
.settings-tab li .nav-link.active .box {
  background-color: #1c64f2;
  border-color: #1c64f2;
}
.settings-tab li .nav-link.active .box svg path {
  fill: #fff;
}
.settings-tab li .nav-link h2 {
  color: #111928;
  font-size: 14px;
  margin: 0;
}
.settings-tab li .nav-link p {
  color: #6b7280;
  font-size: 12px;
}
.settings-tab .box {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.settings-tab .box svg path {
  fill: #111928;
}

.custom-accordion .accordion-item {
  margin: 20px 0;
  background: #ffffff;
  /* shadow */
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
.custom-accordion .accordion-button {
  font-weight: 500;
}
.custom-accordion .accordion-header {
  overflow: hidden;
}
.custom-accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: #111928;
}
.custom-accordion .accordion-button::after {
  transform: rotate(180deg);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgOC44MTM0OEw4IDEuODEzNDhMMTUgOC44MTM0OCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
}
.custom-accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}

.pf-card img {
  width: 120px;
  height: 120px;
}

.profile-wrapper .form-check-input:checked {
  background-color: #1c64f2;
  border-color: #1c64f2;
}

.fs-15 {
  font-size: 15px;
}

.fw-600 {
  font-weight: 600;
}

.text-sm {
  font-size: 12px;
  color: #384670;
}

.font-20 {
  font-size: 20px;
}

.font-14 {
  font-size: 14px;
}

.color-dark {
  color: #111928;
}

.color-grey {
  color: #6b7280;
}

.n-journey .fw-m {
  font-weight: 500;
}
.n-journey .accordion-button.collapsed p {
  color: #6b7280;
}
.n-journey .accordion-button.collapsed h3 {
  color: #212529;
}
.n-journey .accordion-button h3 {
  color: #1c64f2;
}
.n-journey .accordion-button p {
  color: #1c64f2;
}

/*# sourceMappingURL=style.css.map */
